@model Billycock.DTO.PlataformaCuentaDTO

@{
    ViewData["Title"] = "ActualizarPago";
}

<h1>ActualizarPago</h1>

<h4>PlataformaCuentaDTO</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="ActualizarPago">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="idPlataformaCuenta" class="control-label"></label>
                <input asp-for="idPlataformaCuenta" class="form-control"  readonly="readonly"/>
                <span asp-validation-for="idPlataformaCuenta" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="usuariosdisponibles" class="control-label"></label>
                <input asp-for="usuariosdisponibles" class="form-control" readonly="readonly"/>
                <span asp-validation-for="usuariosdisponibles" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="fechaPago" class="control-label"></label>
                <input asp-for="fechaPago" class="form-control" readonly="readonly"/>
                <span asp-validation-for="fechaPago" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="idPlataforma" class="control-label"></label>
                <input asp-for="idPlataforma" class="form-control" readonly="readonly"/>
                <span asp-validation-for="idPlataforma" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="idCuenta" class="control-label"></label>
                <input asp-for="idCuenta" class="form-control" readonly="readonly"/>
                <span asp-validation-for="idCuenta" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="clave" class="control-label"></label>
                <input asp-for="clave" class="form-control" readonly="readonly"/>
                <span asp-validation-for="clave" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Actualizar pago" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
